.title {
  display: flex;
  align-items: center;
}
.title h1 {
  font-size: 2rem;
  flex: 1;
}
.title p {
  font-size: 0.875rem;
  font-weight: bold;
}
.title .theme-switch {
  margin-left: 2rem;
}
.title .theme-switch .switch-nums {
  transition: all 0s ease-in-out;
}
.title .theme-switch .switch-nums div {
  display: flex;
  justify-content: space-between;
  padding-inline: 0.625rem;
}

.switch-btn {
  padding: 0.35rem 0.25rem;
  width: 4.5rem;
  height: 1.75rem;
  border: none;
  background: #232c43;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #232c43;
}
.switch-btn #switch-circle {
  transition: all 0.35s ease-in-out;
  display: inline-block;
  height: 1.125rem;
  width: 1.125rem;
  border-radius: 100%;
  background: #d03f2f;
}

.switch-btn.active {
  background: #d1cccc;
}
.switch-btn.active #switch-circle {
  transform: translateX(1.32rem);
  background: #ca5502;
}

.switch-btn.active-two {
  background: #350439;
}
.switch-btn.active-two #switch-circle {
  transform: translateX(2.8rem);
  background: #1940f0;
}

.display .result {
  border: none;
  height: 9.375rem;
  width: 100%;
  background: #182034;
  margin-block: 2.25rem 1.625rem;
  padding: 0 1.875rem;
  border-radius: 0.875rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  transition: all 0s ease-in-out;
}

.display .result.active {
  background: #ededed;
}

.display .result.active-two {
  background: #340439;
}

.numpad {
  width: 100%;
  background: #182034;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  padding: 2rem 1.875rem;
  flex-basis: 6.25rem;
  transition: all 0s ease-in-out;
}
.numpad button {
  border-radius: 0.5rem;
  border: hidden;
  padding: 0.8rem 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: #444b5a;
  cursor: pointer;
  margin: 5px 5px;
}
.numpad button.del {
  font-size: 1rem;
}
.numpad .small-btn {
  transition: all 0s ease-in-out;
  background: #eae3dc;
  border-bottom: 4px solid #b4a597;
}
.numpad .small-btn.del {
  background: #637097;
  color: white;
  font-size: 1.125rem;
  border-bottom: 4px solid #404e72;
}
.numpad .large-btn {
  transition: all 0s ease-in-out;
  flex-basis: 14.1875rem;
}
.numpad .large-btn.reset {
  background: #637097;
  color: white;
  font-size: 1.125rem;
  border-bottom: 4px solid #404e72;
  grid-area: 5/1/6/3;
}
.numpad .large-btn.equal {
  background: #d03f2f;
  color: white;
  font-weight: bold;
  border-bottom: 4px solid #93261a;
  grid-area: 5/3/6/5;
}

.numpad button:active {
  transform: scale(0.95);
}

.numpad.active {
  background: #d1cccc;
}
.numpad.active button {
  color: #35352c;
}
.numpad.active .small-btn.del {
  background: #377f86;
  border-bottom: 4px solid #1b5f65;
}
.numpad.active .large-btn.reset {
  background: #377f86;
  border-bottom: 4px solid #1b5f65;
}
.numpad.active .large-btn.equal {
  background: #ca5502;
  border-bottom: 4px solid #893901;
}

.numpad.active-two {
  background: #350439;
}
.numpad.active-two button {
  color: #1b2428;
}
.numpad.active-two .small-btn {
  background: #39ac6d;
  border-bottom: 4px solid #0d592d;
}
.numpad.active-two .small-btn.del,
.numpad.active-two .large-btn.reset {
  color: #e0b25c;
  background: #1940f0;
  border-bottom: 4px solid rgba(1, 22, 91, 0.884);
}
.numpad.active-two .large-btn.equal {
  color: #e0b25c;
  background: #9c09aa;
  border-bottom: 4px solid #5b0363;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
  font-size: 16px;
}

body.theme-switcher {
  background: #3a4764;
  color: white;
  transition: all 0s ease-in-out;
}

section {
  padding: 5.9375rem 28.125rem;
}

body.theme-switcher.active {
  background: #e6e6e6;
  color: #35352c;
}

body.theme-switcher.active-two {
  background: #510b74;
  color: #e0b25c;
}

/*# sourceMappingURL=style.css.map */
