
//----------------FONTS
$font-family: 'Spartan', sans-serif;

//------------------------THEME ONE----------------------------------------------------------------
//Backgrounds 
$mainbackground: hsl(222, 26%, 31%);
$togglebackground: hsl(223, 31%, 20%);
$screenbackground: hsl(224, 36%, 15%);

//keys
$keybackground: hsl(225, 21%, 49%);
$keyshadow: hsl(224, 28%, 35%);
$redkeybackground: hsl(6, 63%, 50%);
$darkredkeyshadow: hsl(6, 70%, 34%);
$lighorangekeybackground: hsl(30, 25%, 89%);
$grayishorangekeyshadow: hsl(28, 16%, 65%);

//text
$textverydarkgrayishblue: hsl(221, 14%, 31%);
$textwhite: hsl(0, 0, 100%);

//-----------------------THEME TWO----------------------------------------------------------------
//backgrounds 
$secondbackground: hsl(0, 0%, 90%);
$secondtogglebackground: hsl(0, 5%, 81%);
$secondscreenbackground: hsl(0, 0%, 93%);

//keys
$secondkeybackground: hsl(185, 42%, 37%);
$secondkeyshadow: hsl(185, 58%, 25%);
$orangekeybackground: hsl(25, 98%, 40%);
$darkorangekeyshadow: hsl(25, 99%, 27%);
$lightyellowkeybackground: hsl(45, 7%, 89%);
$darkgrayishorangekeyshadow: hsl(35, 11%, 61%);

//text
$verydarkgrayishyellow: hsl(60, 10%, 19%);

//------------------------THEME THREE----------------------------------------------------------------
//backgrounds
$thirdbackground: hsl(280, 82%, 25%);
$thirdtogglebackground: hsl(295, 86%, 12%);
$thirdscreenbackground: hsl(294, 86%, 12%);

//keys
$thirdkeybackground: 	hsl(147, 50%, 45%);
$thirdkeyshadow: hsl(145, 75%, 20%);
$purecyankeybackground: hsl(229, 88%, 52%);
$softcyankeyshadow: hsla(226, 98%, 18%, 0.884);
$verydarkvioletkeybackground:hsl(295, 90%, 35%);
$darkmagentakeyshadow: hsl(295, 95%, 20%);

//text
$lightyellow: hsl(39, 68%, 62%);
$verydarkblue: hsl(198, 20%, 13%);
