@use'./color-font' as *;
@use '../abstract/' as *;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: 16px;
}

body.theme-switcher{
  background: $mainbackground;
  color: $textwhite;
  @include smooth-transition;
}

section{
  padding: 5.9375rem 28.125rem;
}

body.theme-switcher.active{
  background: $secondbackground;
  color: $verydarkgrayishyellow;
}

body.theme-switcher.active-two{
  background: $thirdbackground;
  color: $lightyellow;
}


section{
  @include breakpoint-down(tablet){
    padding: 5.9375rem 12rem; 
  }
}
section{
  @include breakpoint-down(phone){
    padding: 5.9375rem 4rem
  }
}

section{
  @include breakpoint-down(smallphone){
    padding: 5.9375rem 1.5rem
  }
}