@use'./color-font' as *;
@use '../abstract/' as *;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: 16px;
}

body.theme-switcher{
  background: $mainbackground;
  color: $textwhite;
  @include smooth-transition;
}

body.theme-switcher.active{
  background: $secondbackground;
  color: $verydarkgrayishyellow;
}

section{
  padding: 5.9375rem 28.125rem;
}