@use '../abstract/' as *;
@use'./color-font' as *;
.numpad{
  width: 100%;
  background: $screenbackground;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  padding: 2rem 1.875rem;
  flex-basis: 6.25rem;
  border-radius: 0.875rem;
  @include smooth-transition;
  button {
    border-radius: 0.5rem;
    border: hidden;
    padding: 0.8rem 1rem;  
    font-size: 2rem;
    font-weight: bold;
    color: $textverydarkgrayishblue;
    cursor: pointer;
    //margin: 5px 5px;
  }
  button.del,
  button.large-btn{
    font-size: 1.25rem;
  }
  .small-btn{
    @include smooth-transition;
    //flex-basis: 4.20rem;
    background: $lighorangekeybackground;
    border-bottom: 4px solid $grayishorangekeyshadow;
    
    &.del{
      @include themeone-btn;
    }
  }
  .large-btn{
    @include smooth-transition;
    flex-basis: 14.1875rem;
    &.reset{
      @include themeone-btn;
      grid-area: 5 / 1 / 6 / 3;
    }
    &.equal{
      @include red-btn;
      grid-area: 5 / 3 / 6 / 5;
    }
  }
}


.numpad button.small-btn:active,
.numpad button.small-btn.del:active,
.numpad button.large-btn.reset:active,
.numpad button.large-btn.equal:active{
  //border: 4px solid $keyshadow;
  //transform: scale(0.90);
  //transform: scale(0.95);
  border-bottom: hidden;
  // border-top: 4px solid $grayishorangekeyshadow;
  // border-right: 4px solid $grayishorangekeyshadow;
  // border-left: 4px solid $grayishorangekeyshadow;
}

button.pressed{
  border-bottom: none;
  border-top: 4px solid $grayishorangekeyshadow;
  border-right: 4px solid $grayishorangekeyshadow;
  border-left: 4px solid $grayishorangekeyshadow;
  //opacity: 0.85;
}

.numpad.active{
  background: $secondtogglebackground;
  button{
    color: $verydarkgrayishyellow;
  }
  .small-btn.del{
    background: $secondkeybackground;
    border-bottom: 4px solid $secondkeyshadow;
  }
  .large-btn{
    &.reset{
      background: $secondkeybackground;
      border-bottom: 4px solid $secondkeyshadow;
    }
    &.equal{
      background: $orangekeybackground;
      border-bottom: 4px solid $darkorangekeyshadow;
    }
  }
}

.numpad.active-two{
  background: $thirdtogglebackground;
  button{
    color: $verydarkblue;
  }
  .small-btn{
    background: $thirdkeybackground;
    border-bottom: 4px solid $thirdkeyshadow;
  }
  .small-btn.del,
  .large-btn.reset{
    color: $lightyellow;
    background: $purecyankeybackground;
    border-bottom: 4px solid $softcyankeyshadow;
  }
  .large-btn.equal{
    color: $lightyellow;
    background: $verydarkvioletkeybackground;
    border-bottom: 4px solid $darkmagentakeyshadow;
  }
}

//Media Queries 

.numpad{
  @include breakpoint-down(smallphone){
    grid-gap: 0.875rem;
    padding: 1.375rem;
    button{
      font-size: 1.625rem;
    }
  }
}