@use '../abstract/' as *;
@use'./color-font' as *;
.title{
  display: flex;
  align-items: center;
  h1{
    font-size: 2rem;
    flex: 1;
  }
  p{
    font-size: 0.875rem;
    font-weight: bold;
  }
  .theme-switch{
    margin-left: 2rem;
    .switch-nums{
      @include smooth-transition;
      div{
        display: flex;
        justify-content: space-between;
        padding-inline: 0.625rem;
      }
    }
  }
}

.switch-btn{
  @include switchBtn;
  background: $togglebackground;
  #switch-circle{
    @include switchBall;
    background: $redkeybackground;
  }
}

//active switch button
.switch-btn.active{
  background: $secondtogglebackground;
  #switch-circle{
    transform: translateX(1.32rem);
    background: $orangekeybackground;
  }
}
.switch-btn.active-two{
  background: $thirdtogglebackground;
  #switch-circle{
    transform: translateX(2.8rem);
    background: $purecyankeybackground;
  }
}