
//----------------FONTS
$font-family: 'Spartan', sans-serif;

//------------------------THEME ONE
//Backgrounds 
$mainbackground: hsl(222, 26%, 31%);
$togglebackground: hsl(223, 31%, 20%);
$screenbackground: hsl(224, 36%, 15%);

//keys
$keybackground: hsl(225, 21%, 49%);
$keyshadow: hsl(224, 28%, 35%);
$redkeybackground: hsl(6, 63%, 50%);
$darkredkeyshadow: hsl(6, 70%, 34%);
$lighorangekeybackground: hsl(30, 25%, 89%);
$grayishorangekeyshadow: hsl(28, 16%, 65%);

//text
$textverydarkgrayishblue: hsl(221, 14%, 31%);
$textwhite: hsl(0, 0, 100%);

//-----------------------THEME TWO
//backgrounds 
$secondbackground: hsl(0, 0%, 90%);
$secondtogglebackground: hsl(0, 5%, 81%);
$secondscreenbackground: hsl(0, 0%, 93%);

//keys
$secondkeybackground: hsl(185, 42%, 37%);
$secondkeyshadow: hsl(185, 58%, 25%);
$orangekeybackground: hsl(25, 98%, 40%);
$darkorangekeyshadow: hsl(25, 99%, 27%);
$lightyellowkeybackground: hsl(45, 7%, 89%);
$darkorangekeyshadow: hsl(35, 11%, 61%);

//text
$verydarkgrayishyellow: hsl(60, 10%, 19%);

//------------------------THEME THREE
//backgrounds
$thirdbackground: hsl(268, 75%, 9%);
$thirdtogglebackground: hsl(268, 71%, 12%);

//keys
$thirdkeybackground: hsl(281, 89%, 26%);
$thirdkeyshadow: hsl(285, 91%, 52%);
$purecyankeybackground: hsl(176, 100%, 44%);
$softcyankeyshadow: hsl(177, 92%, 70%);
$verydarkvioletkeybackground: hsl(268, 47%, 21%);
$darkmagentakeyshadow: hsl(290, 70%, 36%);

//text
$lightyellow: hsl(52, 100%, 62%);
$verydarkblue: hsl(198, 20%, 13%);
