@use'../components/color-font' as *;

@mixin themeone-btn {
  background: $keybackground;
  color: $textwhite;
  border-bottom: 4px solid $keyshadow;
}


@mixin red-btn{
  background: $redkeybackground;
  color: $textwhite;
  border-bottom: 4px solid $darkredkeyshadow;
}

@mixin smooth-transition {
  transition: all 0.75s ease-in-out;  
}

@mixin switchBtn{
  padding: 0.35rem 0.25rem;
  width: 4.5rem;
  height: 1.75rem;
  border: none;
  background: $togglebackground;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@mixin switchBall {
  transition: all 0.35s ease-in-out;
  display: inline-block;
  height: 1.125rem;
  width: 1.125rem;
  border-radius: 100%;
}


$breakpoints-up: ("phone": "40em", "tablet":"64em", "desktop": "87.5em");
$breakpoints-down: ("smallphone": "23.5em", "phone": "39.9375em", "tablet":"63.9375em", "desktop": "87.4375em");

@media (min-width: 64em){

}

@mixin breakpoint-up($size){
  @media (min-width: map-get($breakpoints-up, $size)){
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media(max-width: map-get($breakpoints-down, $size)){
    @content;
  }
}